.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    background-color: brown;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: white;

}