.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.lista-filmes{
    margin:15px;
}


.lista-filmes article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.lista-filmes strong {
    padding-bottom: 15px;
    font-size: 20px;
}

img{
    max-width: 900px;
    max-height: 350px;
}

.lista-filmes article a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: brown;
    width: 100%;
    margin-top: -30;
    text-align: center;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}